*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lato";
}

/*Apagar flutuações do float*/
.clear{clear: both;}

.center{
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
}

header{
    background: #3665af;
    padding:  8px 0;
}

.logo{
    float: left;
    color: white;
}

.logo h2{
    font-size: 30px;
    font-weight: normal;
}

form.form-login{
    float: right;
}

.form-login .form-element{
    display: inline-block;
    margin-right: 15px;
}

.form-element p{
    color: white;
    font-size: 15px;
}

.form-element input[type=email],
.form-element input[type=password]{
    margin-top: 4px;
    border: 0;
    height: 22px;
    padding-left: 3px;
}

.form-element input[type=submit]{
    cursor: pointer;
    border: 0;
    border-bottom: 2px solid #09449c;
    border-right: 2px solid #09449c;
    background-color: #215ab2;
    color: white;
    padding: 3px 5px;
}

.form-element input[type=submit]:hover{
    background-color: #09449c;
}

.form-element input:focus{
    outline: 0;
}

section.main{
    background: linear-gradient(white, #D3D8E8);
    padding: 40px 0;
}

.image{
    float: left;
    width: 60%;
}

.image img{
    max-width: 100%;
}

.abrir-conta{
    width: 40%;
    float: left;
}

.abrir-conta h2{
    color: black;
    font-size: 30px;
}

.abrir-conta h3{
    font-size: 18px;
    color: #222;
    margin-top: 8px;
    font-weight: normal;
}

form.create-account{
    margin-top: 10px;
}

.w50{
    width: 50%;
    float: left;
    padding: 0 5px;
}

.w100{
    padding: 0 5px;
    width: 100%;
    float: left;
}

form.create-account input{
    width: 100%;
    margin-top: 8px;
}

form.create-account input[type=email],
form.create-account input[type=text],
form.create-account input[type=password]{
    height: 32px;
    padding-left: 5px;
    font-size: 18px;
    border: 1px solid #222;
    border-radius: 10px;
}

form.create-account input[type=email],
form.create-account input[type=text],
form.create-account input[type=password]:focus{
    outline: 0;
}

form.create-account input[type=submit]{
    height: 40px;
    background: linear-gradient(#67ae55, #578843);
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: 0;
    text-align: center;
    max-width: 300px;
    margin-top: 30px;
}

form .w100 h4{
    font-weight: normal;
    font-size: 14px;
    margin-top: 10px;
}

form select{
    float: left;
    margin-top: 5px;
    padding: 4px 4px;
}

.radio {
    float: left;
    margin: 10px 0;
    margin-right: 10px;
}

.radio [type=radio]{
    width: auto !important;
    display: inline-block;
}

.radio > h4{
    display: inline-block;
}

section.footer{
    padding: 20px 0;
    background-color: white;
}

section.footer a{
    color: #365899;
    text-decoration: none;
    margin-right: 15px;
    font-size: 12px;
}

section.footer .center{
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 7px;
    border-bottom: 2px solid #aaa;
}

section.footer a.selected-lingua{
    color: #737373;
}

@media screen and (max-width: 768px){
    .logo{
        float: none;
        width: 100%;
        text-align: center;
    }
    form.form-login{
        float: none;
        width: 100%;
        display: inline-block;
        margin-top: 15px;
        text-align: center;
    }

    .form-login .form-element{
        display: block;
        margin: 10px 0;
    }
    
    .form-element p{
        color: white;
        font-size: 15px;
    }
    
    .form-element input[type=email],
    .form-element input[type=password]{
        margin-top: 4px;
        border: 0;
        height: 22px;
        padding-left: 3px;
        width: 100%;
        max-width: 280px;
    }

    .form-element input[type=submit]{
        width: 80px;
    }

    .image {
        display: none;
    }

    .abrir-conta{
        width: 100%;
        float: none;
        text-align: center;
    }

    .radio{
        float: none;
        display: inline-block;
    }

    form select{
        float: none;
        margin-right: -4px;
    }

    form.w100 input[type=submit]{
        text-align: center;
    }

}